.navbar {
  font-weight: bold;
  padding-left: 0px;
  color: rgb(250, 250, 250);
}

.navbar .nav-link.active {
  color: rgb(241, 197, 177);
}

.navbar .nav-link:hover {
  color: rgb(152, 189, 166);
}

.navbar .nav-link {
  color: rgb(245, 239, 191);
}
